<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="test">
	<!-- 회원 목록 가져오기 -->
	<select id="testList" resultType="dev.jang.mini.VO.TestVO">
		select teno, teid from test;
	</select>
</mapper>